.centered_button_holder
  = button_to 'Submit a Maintenance Request', new_request_path, :class => "front_page_button", :method => :get, :id => 'submit_request'

  %br
  %br

  = button_to 'Check a Maintenance Request', '/requests/search', :class => "front_page_button"
